### --- API Settings --- ###
# Options: 1, 2, etc.
API_VERSION=1
# Options: development, production, testing
ENV=development

### --- Database Settings --- ###
# Path to your JSON database file. 
# Recommended for local dev: app/db/students.json
DATABASE_PATH=app/db/students.json

### --- Server Settings --- ###
# Default port for Uvicorn
PORT=8000
HOST=127.0.0.1